.Banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.category-select {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
}


.nav a.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
}

.store {
  font-size: 14px;
  color: #333;
  text-align: right;
}
